best_download==0.1.2
bitsandbytes==0.43.1
dask==2024.4.2
datasets==2.18.0
editdistance==0.8.1
fire==0.6.0
hera==5.15.1
huggingface_hub==0.23.0
hydra-core==1.3.2
kubeflow==0.0.1rc0
kubernetes==29.0.0
matplotlib==3.5.1
megatron_core==0.6.0rc0
mergoo==0.0.9
nemo_toolkit==2.0.0rc0
nltk==3.8.1
numpy==1.21.5
nvidia_ml_py==12.535.133
nvidia_ml_py3==7.352.0
omegaconf==2.3.0
open_clip_torch==2.24.0
paddlenlp==2.8.0
pandas==2.2.2
Pillow==9.0.1
Pillow==10.3.0
protobuf==3.12.4
psutil==5.9.8
psutil==5.9.0
pycocotools==2.0.7
pydantic==2.7.2
pynvml==11.5.0
pytablewriter==1.2.0
pytest==8.1.1
pytorch_lightning==2.2.4
PyYAML==6.0.1
PyYAML==5.4.1
PyYAML==6.0.1
Requests==2.32.3
requests_mock==1.12.1
sacrebleu==2.4.2
scikit_learn==1.4.2
scipy==1.8.0
spacy==3.3.3
sqlitedict==2.1.0
torch==2.3.0
torchvision==0.18.0+cu121
tqdm==4.66.2
transformers==4.42.0.dev0
tritonclient==2.46.0
trl==0.8.6
webdataset==0.2.86
zstandard==0.22.0
