bitsandbytes
datasets
editdistance
evaluate
liger_kernel
mergoo
moverscore
multiprocess
nltk
numpy
nvidia_ml_py
paddlenlp
pandas
Pebble
peft
pynvml
retry
rich
sacrebleu
torch
tqdm
transformers
trl
wandb
GPUtil
accelerate
